body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #eee;
  color: #666;
}

.app {
  display: flex;
  justify-content: center;
}

.container {
  padding: 40px 0;
  width: 800px;
}

.main {
  padding-top: 20px;
}

.grid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid__item {
  padding-bottom: 20px;
  width: 30%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__item {
  padding: 10px 20px;
  border-bottom: 1px solid #666;
  display: flex;
}

.list__item_last {
  border-bottom: 0
}

.list__star {
  width: 10%;
}

.list__price {
  width: 10%;
}

.list__title {
  width: 80%;
}

.footer {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer_right {
  justify-content: flex-end;
}

.footer_center {
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 5px;
  display: block;
}

.card_padded {
  padding: 20px;
}

.card_selected {
  background: #ccc;
}

.heading {
  text-align: center;
  font-weight: normal;
  margin: 0;
}

.heading_h1 {
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading_h2 {
  font-size: 1rem;
  text-align: left;
}

.button {
  background: #97C5BF;
  font-size: 1em;
  border-radius: 3px;
  padding: 10px 20px;
  color: #666;
  text-decoration: none;
}

.button_disabled {
  opacity: 0.4;
}

.product__body {
  padding: 30px 20px;
  height: 100px;
}

.product__heading {
  padding: 10px 20px;
  border-bottom: 1px solid #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.happy {
  justify-content: center;
  display: flex;
}
